.places__url {
  align-self: end;
}
@media screen and (max-width: 768px) {
    .places__url {
        padding-left: 24px;
      }
}
@media screen and (max-width: 425px) {
    .places__url {
        padding-left: 16px;
      }
}