.places__texts {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (max-width: 620px) {
    .places__texts {
        padding-left: 24px;
        padding-right: 24px;
      }
}

@media screen and (max-width: 425px) {
  .places__texts {
      padding-left: 16px;
      padding-right: 16px;
    }
}