.header {
  margin: 0 auto;
  width: calc(100% - 96px);
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 28px;
}
@media screen and (max-width: 768px) {
    .header {
        width: calc(100% - 48px);
      }
}
@media screen and (max-width: 425px) {
    .header {
        width: calc(100% - 32px);
      }
}