.headline_place_cover {
  font-size: 72px;
  line-height: 76px;
  max-width: 560px;
  text-align: center;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 728px) {
    .headline_place_cover {
        font-size: 9.3vw;
        line-height: 9.9vw;
      }
}
@media screen and (max-width: 425px) {
    .headline_place_cover {
        font-size: 32px;
        line-height: 35px;
        max-width: 288px;
      }
}