.headline_place_intro {
  font-size: 54px;
  line-height: 58px;
  max-width: 690px;
}
@media screen and (max-width: 712px) {
    .headline_place_intro  {
        font-size: 7.5vw;
        line-height: 8.1vw;
      }
}
@media screen and (max-width: 425px) {
    .headline_place_intro {
        font-size: 32px;
        line-height: 35px;
      }
}