.link_place_header {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 6px;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
    .link_place_header {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 8px;
      }
}